<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<h1>STAFF LIST</h1><br>

<div id="button-section">
    <button type="button" id="populate-from-api-button" onclick="createFromAPI()">Populate From API</button>
    <button type="button" id="show-staff-button" onclick="getAll()">Show Staff List</button>
</div>

<dialog id="table-modal-dialog">

</div>
<script src="common.js"></script>
<body>
    
</body>
</html>