<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<h1>CREATE A NEW PERSON</h1><br>
<button type="button" onclick="createPerson()">CREATE PERSON</button><br>
<button type="button" onclick="getFromAPI()">CREATE FROM API</button>

<script>
    function getAll() {
        const url="http://localhost:5146/showall";
        fetch(url, {
            method:"GET"
        })
        .then((response)=> {
            if (!response.ok) {
                throw new Error ("error with fetch");

            }
            return response.json();
        })
        .then((data)=> {
            console.log(data);
        })
        .catch((error)=> {
            console.error("error",error)



            
        })
    }

    //create a person and send to database 
    function createPerson() {

        const staff= {
            FirstName:"George",
            LastName:"Williams",
            Email:"george@example.com",
            Gender:"female",
            Department:"Manager of Nothing",
            Location:"Drammen",
            Salary:50000
        }
        const url="http://localhost:5146/addstaff";
        //fetch 
        fetch(url,{
            method:"POST",
            headers: {
                "Content-Type":"application/json"
            },
            body: JSON.stringify(staff)
        })
        .then((response)=> {
            if (!response.ok) {
                throw new Error ("error to fetch");
            }
            return response.json()
        })
        .then((data)=> {
            console.log(data);
        })
        .catch((error)=> {
            console.error("error",error);
        })
        
    }

    //people from ap

    function getFromAPI() {

        
        const url="https://randomuser.me/api/?results=10";
        const departments = [
            "Human Resources",
            "Finance",
            "Marketing",
            "Sales",
            "IT Support",
            "Product Development",
            "Customer Service",
            "Logistics",
            "Legal",
            "Research & Development"
        ];
        fetch(url,{
            method:"GET"
        })
        .then((response)=> {
            if (!response.ok) {
                throw new Error("error fetch")
            }
            return response.json();
        })
        .then((data)=> {
            //console.log(data.results);
            let rawData=data.results;
            rawData.forEach(p=> {

                let newPerson={
                    FirstName:p.name.first,
                    LastName:p.name.last,
                    Gender:p.gender,
                    Email:p.email,
                    Department:departments[Math.floor(Math.random()*departments.length)],
                    Salary:Math.floor(Math.random()*10000)+20000,
                    Location:p.location.city
                }

                //add to function to create new database instance
                createPersonFromApi(newPerson);



            }
            
        
        
        );
            

        })
        .catch((error)=> {
            console.error("error",error)
        })
    }

    //create from API 
    function createPersonFromApi(samplestaff) {

        
        const url="http://localhost:5146/addstaff";
        //fetch 
        fetch(url,{
            method:"POST",
            headers: {
                "Content-Type":"application/json"
            },
            body: JSON.stringify(samplestaff)
        })
        .then((response)=> {
            if (!response.ok) {
                throw new Error ("error to fetch");
            }
            return response.json()
        })
        .then((data)=> {
            console.log(data);
        })
        .catch((error)=> {
            console.error("error",error);
        })

        }

    getAll()
    getFromAPI()
</script>
<body>
    
</body>
</html>