* {
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    padding-top:10px;
   
    
}

h1 {
    text-align: center;
}



#button-section {
    display:flexbox;
    justify-items:right;

}

#staffTable {
    border-collapse: collapse;
    padding-top: 10px;
    font-size:10px;
    
}

#staffTable th ,td ,tr {
   width:auto;
   border:solid 1px;
   

}

#table-modal-dialog {

    border:0.1px;
    padding-top: 50px;
    position:relative;
    top:350px;
}


